{% extends 'biblioteka/base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Author index" %}
{% endblock %}

{% block navbar %}
    {% include 'biblioteka/partial/navbar.html' with active='author' %}
{% endblock %}

{% block panel_title %}
    {% trans "Authors" %}
{% endblock %}

{% block buttons %}
    {% if perms.biblioteka.add_author %}
        <a href="{% url 'biblioteka:authorCreate' %}" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> {% trans "Add author" %}
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'biblioteka/partial/author_table.html' with author_list=author_list action_buttons=False %}
{% endblock %}