{% extends 'biblioteka/base.html' %}
{% load i18n %}

{% block title %}
    {{ author }}
{% endblock %}

{% block navbar %}
    {% include 'biblioteka/partial/navbar.html' with active='author' %}
{% endblock %}

{% block panel_title %}{{ author }}{% endblock %}

{% block buttons %}
    {% if perms.biblioteka.add_book %}
        <a href="{% url 'biblioteka:bookCreate' %}" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span> {% trans "Add book" %}
        </a>
    {% endif %}
    {% if perms.biblioteka.delete_author %}
        <a href="{% url 'biblioteka:authorDelete' author.id %}" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}
        </a>
    {% endif %}
    {% if perms.biblioteka.change_author %}
        <a href="{% url 'biblioteka:authorUpdate' author.id %}" class="btn btn-primary">
            <span class="glyphicon glyphicon-edit"></span> {% trans "Edit" %}
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    <h4>{% trans "Books by this author" %}</h4>
    {% include 'biblioteka/partial/book_table.html' with book_list=author.books %}
{% endblock %}