<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


    <!-- Bottstrap.js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    {% load staticfiles %}

    <!-- table sorter -->
    <script type="text/javascript" src="{% static 'biblioteka/jquery.tablesorter.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'biblioteka/common.js' %}"></script>

    <link rel="stylesheet" href="{% static 'biblioteka/css/style.css' %}">
</head>
<body>
{% block navbar %}{% endblock %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading lead">
            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <span>{% block panel_title %}{% endblock %}</span>
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="panel-body">
            <div class="buttons">
                <!--<div class="btn-group">-->
                    {% block buttons %}{% endblock %}
                <!--</div>-->
            </div>
            {% if messages %}
            <p>
                {% for message in messages %}
                    <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            </p>
            {% block content %}
            {% endblock %}
        </div>
        <div class="panel-footer">
            <center>
                <span class="footer-text">rzyua {% now "Y" %}</span>
            </center>
        </div>
    </div>
</div>
</body>
</html>