{% extends 'biblioteka/base.html' %}
{% load i18n %}

{% block title %}
    {{ book.title }}
{% endblock %}

{% block navbar %}
    {% include 'biblioteka/partial/navbar.html' with active='book' %}
{% endblock %}

{% block panel_title %}
    {{ book.title }}
{% endblock %}

{% block buttons %}
    {% if perms.biblioteka.rent_book %}
        <a href="{% url 'biblioteka:rentalCreate' book.id %}" class="btn btn-success">
            <span class="glyphicon glyphicon-share"></span> {% trans "Rent" %}
        </a>
    {% endif %}
    {% if perms.biblioteka.mark_book_unread and book in user.userprofile.books_read.all %}
        <form method="post" action="{% url 'biblioteka:bookMarkUnread' book.id %}" class="form-inline" role="form">{% csrf_token %}
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span> {% trans "Unread" %}
            </button>
        </form>
    {% elif perms.biblioteka.mark_book_read and not book in user.userprofile.books_read.all %}
        <form method="post" action="{% url 'biblioteka:bookMarkRead' book.id %}" class="form-inline" role="form">{% csrf_token %}
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-ok"></span> {% trans "Read" %}
            </button>
        </form>
    {% endif %}
    {% if perms.biblioteka.delete_book %}
        <a href="{% url 'biblioteka:bookDelete' book.id %}" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}
        </a>
    {% endif %}
    {% if perms.biblioteka.change_book %}
        <a href="{% url 'biblioteka:bookUpdate' book.id %}" class="btn btn-primary">
            <span class="glyphicon glyphicon-edit"></span> {% trans "Edit" %}
        </a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h4>{% trans "ISBN" %}</h4>
        {% if book.ISBN %}
            <div class="well well-sm" id="isbn">{{ book.ISBN }}</div>
        {% else %}
            <p id="isbn">-</p>
        {% endif %}
    </div>
    <div class="col-md-6">
        <h4>{% trans "Available copies" %}</h4>
        {{ book.available_copies }}{% if book.copies > 1 %} {% trans "of" %} {{ book.copies }} {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>{% trans "Authors" %}</h4>
        {% include 'biblioteka/partial/author_table.html' with author_list=book.authors.all %}
    </div>
    <div class="col-md-6">
        <h4>{% trans "Tags" %}</h4>
        {% include 'biblioteka/partial/tag_table.html' with tag_list=book.tags.all%}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>{% trans "Publisher" %}</h4>
        {% if book.publisher %}
            <p id="publisher">{{ book.publisher.name }}</p>
        {% else %}
            <p>-</p>
        {% endif %}
    </div>
    <div class="col-md-6">
        <h4>{% trans "Publication year" %}</h4>
        <p id="pub_year">
            {% if book.pub_year %}
                {{ book.pub_year }}
            {% else %}
                -
            {% endif %}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>{% trans "Comment" %}</h4>
        {% if book.comment %}
            <div class="well well-sm" id="comment">{{ book.comment }}</div>
        {% else %}
            <p>-</p>
        {% endif %}
    </div>
    <div class="col-md-6"></div>
</div>
<div class="table-responsive">
    <h4>{% trans "Rentals" %}</h4>
    {% include 'biblioteka/partial/rental_table.html' with book=book %}
</div>
{% endblock %}
