{% extends 'biblioteka/base.html' %}
{% load i18n %}

{% block title %}{% trans "Book list" %}{% endblock %}

{% block navbar %}
{% include 'biblioteka/partial/navbar.html' with active='book' %}
{% endblock %}

{% block panel_title %}{% trans "Books" %}{% endblock %}

{% block buttons %}
{% if perms.biblioteka.add_book %}
<a href="{% url 'biblioteka:bookCreate' %}" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus"></span> {% trans "Add book" %}
</a>
{% endif %}
{% endblock %}

{% block content %}
{% include 'biblioteka/partial/book_table.html' with book_list=book_list action_buttons=False %}
{% endblock %}