{% extends 'biblioteka/base.html' %}
{% load i18n %}

{% block title %}
    {{ publisher }}
{% endblock %}

{% block navbar %}
    {% include 'biblioteka/partial/navbar.html' with active='publisher' %}
{% endblock %}

{% block panel_title %}
    {{ publisher }}
{% endblock %}

{% block buttons %}
    {% if perms.biblioteka.delete_publisher %}
        <a href="{% url 'biblioteka:publisherDelete' publisher.id %}" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}
        </a>
    {% endif %}
    {% if perms.biblioteka.change_publisher %}
        <a href="{% url 'biblioteka:publisherUpdate' publisher.id %}" class="btn btn-primary">
            <span class="glyphicon glyphicon-edit"></span> {% trans "Edit" %}
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    <h4>{% trans "Books by this publisher" %}</h4>
    {% include 'biblioteka/partial/book_table.html' with book_list=publisher.books %}
{% endblock %}