{% extends 'biblioteka/base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Delete publisher" %}
{% endblock %}

{% block navbar %}
    {% include 'biblioteka/partial/navbar.html' with active='publisher' %}
{% endblock %}

{% block panel_title %}
    {% trans "Confirm delete" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form action="" method="post" class="form">{% csrf_token %}
            <div class="form-group">
                <label class="lead">{% trans "Are you sure you want to delete" %}
                    &nbsp;<mark>{{ object }}</mark>
                    ?
                </label>
            </div>
            <div class="form-group">
                <button type="submit" value="Yes" class="btn btn-danger">{% trans "Yes" %}</button>
                <a href="{% url 'biblioteka:publisherDetail' publisher.id %}" class="btn btn-default">{% trans "No" %}</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}



