{% extends 'biblioteka/base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Publisher list" %}
{% endblock %}

{% block navbar %}
    {% include 'biblioteka/partial/navbar.html' with active='publisher' %}
{% endblock %}

{% block panel_title %}{% trans "Publishers" %}{% endblock %}

{% block buttons %}
    {% if perms.biblioteka.add_publisher %}
        <a href="{% url 'biblioteka:publisherCreate' %}" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> {% trans "Add publisher" %}
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'biblioteka/partial/publisher_table.html' with tag_list=tag_list action_buttons=False %}
{% endblock %}