{% extends 'biblioteka/base.html' %}
{% load i18n %}

{% block title %}
    {{ tag }}
{% endblock %}

{% block navbar %}
    {% include 'biblioteka/partial/navbar.html' with active='tag' %}
{% endblock %}

{% block panel_title %}
    {{ tag }}
{% endblock %}

{% block buttons %}
    {% if perms.biblioteka.delete_tag %}
        <a href="{% url 'biblioteka:tagDelete' tag.id %}" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}
        </a>
    {% endif %}
    {% if perms.biblioteka.change_tag %}
        <a href="{% url 'biblioteka:tagUpdate' tag.id %}" class="btn btn-primary">
            <span class="glyphicon glyphicon-edit"></span> {% trans "Edit" %}
        </a>
    {% endif %}
{% endblock %}

{% block content %}
<h4>{% trans "Books with this tag" %}</h4>
    {% include 'biblioteka/partial/book_table.html' with book_list=tag.books action_buttons=False %}
{% endblock %}