{% extends 'biblioteka/base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Tag list" %}
{% endblock %}

{% block navbar %}
    {% include 'biblioteka/partial/navbar.html' with active='tag' %}
{% endblock %}

{% block panel_title %}
    {% trans "Tags" %}
{% endblock %}

{% block buttons %}
    {% if perms.biblioteka.add_tag %}
        <a href="{% url 'biblioteka:tagCreate' %}" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> {% trans "Add tag" %}
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'biblioteka/partial/tag_table.html' with tag_list=tag_list action_buttons=False %}
{% endblock %}