{% extends 'registration/base.html' %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block title %}
    {% if not user.is_authenticated %}
        {% trans "Sign in" %}
    {% else %}
        {% trans "Permission error" %}
    {% endif%}
{% endblock %}

{% block navbar %}
    {% include 'biblioteka/partial/navbar.html' %}
{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                {% crispy form %}
            </div>
            <div class="col-md-4"></div>
        </div>
    {% else %}
        <div class="panel panel-danger">
            <div class="panel-heading">
                {% trans "Permission error" %}
            </div>
            <div class="panel-body">
                <h1><span class="glyphicon glyphicon-exclamation-sign error"></span></h1>
                <h4>{% trans "You don't have the necessary permissions to do this." %}</h4>
            </div>
        </div>
    {% endif %}
{% endblock %}