{% extends 'biblioteka/base.html' %}
{% load i18n %}

{% block title %}
    {{ user.username }}
{% endblock %}

{% block navbar %}
    {% include 'biblioteka/partial/navbar.html' with active='user' %}
{% endblock %}

{% block panel_title %}
    {{ user.username }}
{% endblock %}

{% block buttons %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <h4>{% trans "First name" %}</h4>
                    <p>{{ user.first_name }}</p>
                </div>
                <div class="col-md-6">
                    <h4>{% trans "Last name" %}</h4>
                    <p>{{ user.last_name }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>{% trans "Email" %}</h4>
                    <p>{{ user.email }}</p>
                </div>
                <div class="col-md-6">
                    {% if user.userprofile.nickname %}
                    <h4>{% trans "Nickname" %}</h4>
                    <p>{{ user.userprofile.nickname }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <hr>
    <h4>{% trans "Rented books" %}</h4>
    {% include 'biblioteka/partial/rental_table_for_user.html' with user=user %}
{% endblock %}
