/* Background image should be fixed and cover the entire viewport */
body {
    background-color: #eee;
    background: url("/static/biblioteka/img/background3_blurred.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    height: 100vh;
}

/* highlight hovered table rows */
table.hover>tbody>tr:hover {
    background-color: #AAEEAA
}

/* make bootstrap links green */
a.keff:link {
    text-decoration: none;
    color: #2D882D;
}

a.keff:active {
    text-decoration: none;
    color: #004400;
}

a.keff:visited {
    text-decoration: none;
    color: #2D882D; }

a.keff:hover {
    text-decoration: none;
    cursor: pointer;
    color: #004400;
}

/* make item expand arrows green */
a.keff>span {
    text-decoration: none;
    color: #2D882D;
}

/* grey out the footer text */
span.footer-text {
    color: #999;
}

/* fox for multiple rows of labels being too close vertically in tables */
.line-height-200 {
    line-height: 170% !important;
}

/* styles for jquery.tablesorter tables */
th>span.sortIcon {
    display: none;
}

th.headerUnsorted {
    cursor: pointer;
}

th.headerUnsorted>span.sortDownIcon,
th.headerUnsorted>span.sortUpIcon {
    display: none;
}

th.headerSortDown>span.sortUpIcon {
    display: none;
}

th.headerSortDown>span.sortDownIcon {
    display: inline;
}

th.headerSortUp>span.sortDownIcon {
    display: none;
}

th.headerSortUp>span.sortUpIcon {
    display: inline;
}

/* classes for django_tables2 bootstrap template */
.table-container th.asc:after {
    content: '\0000a0\0025b2';
}

.table-container th.desc:after {
    content: '\0000a0\0025bc';
}

.pagination {
    text-align: center;
}

/* make sure column names are capitalized */
th {
    text-transform: capitalize;
}

/* Make titles of books that the user already read grey */
.read:link, .read:visited {
    color: #666666 !important ;
}

/* TODO: Think of a better way to place the buttons */
.buttons {
    text-align: center;
}

/* TODO: Get rid of this */
.float-right {
    float: right;
}

/* fix for inline forms */
.form-inline{
    display: inline-block;
}