{% load i18n %}
<div class="table-responsive">
    <table id="author_table" class="table table-striped hover tablesorter">
        <thead>
        <tr>
            <th>
                {% trans "First name" %}
                <span class="sortIcon sortDownIcon glyphicon glyphicon-menu-down"></span>
                <span class="sortIcon sortUpIcon glyphicon glyphicon-menu-up"></span>
            </th>
            <th>
                {% trans "Last name" %}
                <span class="sortIcon sortDownIcon glyphicon glyphicon-menu-down"></span>
                <span class="sortIcon sortUpIcon glyphicon glyphicon-menu-up"></span>
            </th>
            <th>
                {% trans "Book count" %}
                <span class="sortIcon sortDownIcon glyphicon glyphicon-menu-down"></span>
                <span class="sortIcon sortUpIcon glyphicon glyphicon-menu-up"></span>
            </th>
            {% if action_buttons %}
            <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% if author_list %}
        {% for author in author_list|dictsort:"first_name"|dictsort:"last_name" %}
        <tr>
            <td id="first_name">
                <strong>
                    <a href="{% url 'biblioteka:authorDetail' author.id %}" class="keff">{{ author.first_name }}</a>
                </strong>
            </td>
            <td id="last_name">
                <strong>
                    <a href="{% url 'biblioteka:authorDetail' author.id %}" class="keff">{{ author.last_name }}</a>
                </strong>
            </td>
            <td id="book_count">
                <strong>
                    {{ author.books.all.count }}
                </strong>
            </td>
            {% if action_buttons %}
            <td>
                <div class="float-right">
                    <a href="{% url 'biblioteka:authorUpdate' author.id %}" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="{% url 'biblioteka:authorDelete' author.id %}" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>
                <p>{% trans "Empty." %}</p>
            </td>
            <td></td>
            <td></td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>