{% load i18n %}
<div class="table-responsive">
    <table class="table table-striped hover tablesorter" id="book_table">
        <thead>
        <tr>
            <th {% if action_buttons %}class="col-md-4"{% else %}class="col-md-6{% endif %}">
                {% trans "Title" %}
                <span class="sortIcon sortDownIcon glyphicon glyphicon-menu-down"></span>
                <span class="sortIcon sortUpIcon glyphicon glyphicon-menu-up"></span>
            </th>
            <th class="col-md-3">
                {% trans "Authors" %}
                <span class="sortIcon sortDownIcon glyphicon glyphicon-menu-down"></span>
                <span class="sortIcon sortUpIcon glyphicon glyphicon-menu-up"></span>
            </th>
            <th class="col-md-3">
                {% trans "Tags" %}
                <span class="sortIcon sortDownIcon glyphicon glyphicon-menu-down"></span>
                <span class="sortIcon sortUpIcon glyphicon glyphicon-menu-up"></span>
            </th>
            {% if action_buttons %}
            <th class="col-md-2">
            </th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% if book_list %}
        {% for book in book_list|dictsort:"title" %}
        <tr>
            <td id="title">
                <a href="{% url 'biblioteka:bookDetail' book.id %}"
                   class="keff {% if book in user.userprofile.books_read.all %}read{% endif %}">
                    <strong>{{ book.title }}</strong>
                </a>
                {% if book.available_copies < 1 %}
                <span class="label label-default">{% trans "Unavailable" %}</span>
                {% endif %}
            </td>
            {% if book.authors.count > 0 %}
            <td id="authors">
                {% for author in book.authors.all|dictsort:"last_name"|dictsortreversed:"books.all.count" %}
                <a href="{% url 'biblioteka:authorDetail' author.id %}" class="keff">{{ author }}</a>
                {% if forloop.counter == 1 and book.authors.all.count > 1 %}
                <a class="keff"
                   data-toggle="collapse"
                   data-target="#author-row-{{ forloop.parentloop.counter }}"
                   onclick="$(this).hide()">
                    <span class="glyphicon glyphicon-menu-down"></span>
                </a>
                {% endif %}
                {% if not forloop.last %}
                <br>
                {% endif %}
                {% if forloop.counter == 1 and book.authors.all.count > 1 %}
                <div class="collapse" id="author-row-{{ forloop.parentloop.counter }}">
                {% endif %}
                {% if forloop.last and book.authors.all.count > 1 %}
                </div>
                {% endif %}
                {% endfor %}
            </td>
            {% else %}
            <td>
                <span class="label label-default">{% trans "None" %}</span>
            </td>
            {% endif %}
            <td id="tags" class="line-height-200">
                {% if book.tags.all.count > 0 %}
                {% for tag in book.tags.all|dictsortreversed:"popularity" %}
                <a href="{% url 'biblioteka:tagDetail' tag.id %}" class="label label-primary">{{ tag.name }}</a>
                {% if forloop.counter == 3 %}
                <a class="btn btn-link"
                   data-toggle="collapse"
                   data-target="#tag-row-{{ forloop.parentloop.counter }}"
                   onclick="$(this).hide()">
                    <span class="glyphicon glyphicon-menu-down"></span>
                </a>
                <div class="collapse" id="tag-row-{{ forloop.parentloop.counter }}">
                {% endif %}
                {% if forloop.last %}
                </div>
                {% endif %}
                {% endfor %}
                {% else %}
                <span class="label label-default">{% trans "None" %}</span>
                {% endif %}
            </td>
            {% if action_buttons %}
            <td id="action">
                <div class="float-right">
                    <a href="{% url 'biblioteka:bookUpdate' book.id %}" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="{% url 'biblioteka:bookDelete' book.id %}" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>
                <p>{% trans "Empty." %}</p>
            </td>
            <td></td>
            <td></td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>