{% load i18n %}
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'biblioteka:bookList' %}">
                <span class="glyphicon glyphicon-home"></span>
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#theNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="theNavbar">
            <ul class="nav navbar-nav">
                <li class="{% ifequal active 'book' %}active {% endifequal %}">
                    <a href="{% url 'biblioteka:bookList' %}">
                        <span class="glyphicon glyphicon-book"></span> {% trans "Books" %}
                    </a>
                </li>
                <li class="{% ifequal active 'author' %}active {% endifequal %}">
                    <a href="{% url 'biblioteka:authorList' %}">
                        <span class="glyphicon glyphicon-user"></span> {% trans "Authors" %}
                    </a>
                </li>
                <li class="{% ifequal active 'tag' %}active {% endifequal %}">
                    <a href="{% url 'biblioteka:tagList' %}">
                        <span class="glyphicon glyphicon-tags"></span> {% trans "Tags" %}
                    </a>
                </li>
                <li class="{% ifequal active 'publisher' %}active {% endifequal %}">
                    <a href="{% url 'biblioteka:publisherList' %}">
                        <span class="glyphicon glyphicon-briefcase"></span> {% trans "Publishers" %}
                    </a>
                </li>
                <!--<li class="{% ifequal active 'test' %}active {% endifequal %}">-->
                    <!--<a href="{% url 'biblioteka:test' %}">-->
                        <!--<span class="glyphicon glyphicon-check"></span> Test-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
            <form method="post" action="{% url 'biblioteka:ISBN' %}" class="navbar-form form-inline">{% csrf_token %}
                <input type="text" name="ISBN" placeholder="{% trans 'ISBN-13' %}" class="form-control form-inline" pattern="^(97(8|9))?\d{9}(\d|X)$" required>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="{% ifequal active 'user' %}active {% endifequal %}">
                    <a href="{% url 'biblioteka:userProfile' %}">
                        <span class="glyphicon glyphicon-user"></span> {{ user.username }}
                    </a>
                </li>
                <li>
                    <a href="{% url 'biblioteka:logout' %}">
                        <span class="glyphicon glyphicon-log-out"></span> {% trans "Log out" %}
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'biblioteka:login' %}">
                        <span class="glyphicon glyphicon-log-in"></span> {% trans "Sign in" %}
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>