{% load i18n %}
<div class="table-responsive">
    <table id="publisher_table" class="table table-striped hover tablesorter">
        <thead>
        <tr>

            <th>
                {% trans "Name" %}
                <span class="sortIcon sortDownIcon glyphicon glyphicon-menu-down"></span>
                <span class="sortIcon sortUpIcon glyphicon glyphicon-menu-up"></span>
            </th>
            <th>
                {% trans "Book count" %}
                <span class="sortIcon sortDownIcon glyphicon glyphicon-menu-down"></span>
                <span class="sortIcon sortUpIcon glyphicon glyphicon-menu-up"></span>
            </th>
        </tr>
        </thead>
        <tbody>
        {% if publisher_list %}
        {% for publisher in publisher_list|dictsort:"name" %}
        <tr>
            <td id="name">
                <strong>
                    <a href="{% url 'biblioteka:publisherDetail' publisher.id %}" class="keff">{{ publisher }}</a>
                </strong>
                {% if action_buttons %}
                <div class="float-right">
                    <a href="{% url 'biblioteka:publisherUpdate' publisher.id %}" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="{% url 'biblioteka:publisherDelete' publisher.id %}" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
                {% endif %}
            </td>
            <td id="book_count">
                <strong>
                    {{ publisher.books.all.count }}
                </strong>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>
                <p>{% trans "Empty." %}</p>
            </td>
            <td></td>
            {% if action_buttons %}
            <td></td>
            {% endif %}
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>