{% load i18n %}
<div class="table-responsive">
    <table class="table table-striped hover tablesorter">
        <thead>
        <tr>
            <th>{% trans "User" %}</th>
            <th>{% trans "Rented" %}</th>
            <th>{% trans "Returned" %}</th>
        </tr>
        </thead>
        <tbody>
        {% if book.rentals %}
        {% for rental in book.rentals %}
        <tr>
            <td>
                {{ rental.rented_by.first_name }} {{ rental.rented_by.last_name }}
            </td>
            <td>
                {{ rental.rented_date }}
            </td>
            <td>
                {% if rental.returned_date %}
                    {{ rental.returned_date }}
                {% else %}
                    {% if perms.biblioteka.return_book and rental.rented_by.pk == user.pk %}
                        <a href="{% url 'biblioteka:rentalReturn' rental.id %}" class="btn btn-primary btn-xs">{% trans "Return" %}</a>
                    {% else %}
                        -
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>{% trans "Empty." %}</td>
            <td></td>
            <td></td>
        </tr>
        {% endif %}
        </tbody>
</table>
</div>